
<!-- ANA SİPARİŞ VER BUTONU -->

<section class="hero" id="hero">
    <div class="container">
        <h1 class="headline">İçinizi Isıtacak Lezzetler</h1>
        <a asp-controller="Home" asp-action="Menu" class="btn btn-primary">Menü</a>

    </div>
</section>

<!-- HİKAYEMİZİ KEŞFEDİN ALANI -->

<section class="our-story">
    <div class="container">
        <div class="row">
            <div class="description padding-right animate-left">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        Hikayemizi
                    </h2>
                    <h3 class="headline headline-dark">Keşfedin</h3>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                </div>
                <p>
                    Bir rivayete göre Platon'un okulu Akedemia'ya girişte "Ageometretos medeis eisito!" yani  "Matematiksel olanı kavramamış olan giremez" yazar.
                    Biz de bu sözden hareketle "İnsan sağlığına zararlı olan hiçbir şey bizim fırınımıza giremez!" diyoruz.
                </p>
                <br><p>
                    Medeniyete yön veren Anadolu'da yetişen buğdaylar, şimdi sofralarınıza yön vermeye geliyor.
                    Daha önce hiç böyle hissetmediniz.
                </p>

            </div>
            <div class="image animate-right">
                <img class="story-img" src="./images/story-img.jpg" alt="bread">
            </div>
        </div>
    </div>
</section>

<!-- HER ZAMAN EN TAZESİ -->
<section class="always-fresh shared" style="background: url('../images/tasteful-recipes.jpg') center no-repeat; background-size:cover">
       
    <div class="container">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-headline">
                    Her zaman için
                </h2>
            </div>
            <div class="animate-bottom">
                <h3 class="headline headline-dark">En Tazesi</h3>
            </div>
        </div>
    </div>
</section>

<!-- ÜRÜNLER ALANI -->
<section class="menu">
    <div class="container">
        <div class="row">
            <div class="image-group padding-right animate-left">
                <img src="./images/eksi2.jpg" alt="image">
                <img src="/images/cavdar2.jpg" alt="image">
                <img src="/images/square-3.jpg" alt="image">
                <img src="/images/choclate.jpg" alt="image">
            </div>
            <div class="description animate-right">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        Ürünleri
                    </h2>
                    <h3 class="headline headline-dark">Detaylıca Keşfet</h3>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                </div>
                <p>180 derecede değil kalbimizin ateşinde pişen, dumanı üstünde sımsıcak ürünlerimiz için hemen meümüzü incele. </p>
                <a href="/Home/Menu" class="btn btn-secondary">Sipariş Ver</a>
            </div>
        </div>
    </div>
</section>

<!-- DAİMA EN LEZZETLİSİ BANNER -->
<section class="tasty shared" style="background:url('../images/tasty.jpg'); center: no-repeat; background-size:cover;" >
    <div class="container">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-headline">
                    Daima
                </h2>
            </div>
            <div class="animate-bottom">
                <h3  style="color:wheat;" class="headline headline-dark">En lezzetlisi</h3>
            </div>
        </div>
    </div>
</section>

<!-- ATIŞTIRMALIKLAR ALANI -->
<section class="delight">
    <div class="container">
        <div class="row">
            <div class="description padding-right animate-left">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        Tatlı ama Masum
                    </h2>
                    <h3 class="headline headline-dark">Atıştırmalıklar</h3>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                </div>
                <p>Bir tatlı düşünün. Yerken aldığınız hazzın bi tık ötesinde hayaller kurmanızı sağlayan, aynı zamanda size kalori hesabı yaptırmayan.</p><br>
                <p>Çünkü tatlı ürünlerimiz bulutlar kadar hafif.</p>
                <a href="/Home/Order" class="btn btn-secondary">Hemen Sipariş Ver</a>
            </div>
            <div class="image-group animate-right">
                <img class="animate-top" src="./images/bakers-delight-1.jpg" alt="bread">
                <img class="animate-bottom" src="./images/bakers-delight-2.jpg" alt="bread">
            </div>
        </div>
    </div>
</section>