<!-- DAİMA EN LEZZETLİSİ BANNER -->
<div class="tasty shared" style="background:url("./images/tasty.jpg") center no-repeat;">
    <div class="container">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-headline">
                    Siparislerin
                </h2>
            </div>
            <div class="animate-bottom">
                <h3 class="headline headline-dark" style="color: antiquewhite;">Özenle Hazırlanıyor</h3>
            </div>
        </div>
    </div>
</div>
<!-- Register SECTION -->
<section id="register" class="reservation">
    <div class="container">
        <div class="reservation__container">
            <h4>Hemen Sipariş Ver</h4>
            <form action="#" class="reservation__form"></form>
            <div style="border: 1px solid red; height: 300px;  ">
                <div style="border: 1px solid red; height:100%; width:50%; float: right; "> </div>
                <div style="border: 1px solid blue; height:100%; width:50%; ">

                    <input style="margin:15px;" type="text" class="reservation_time" placeholder="İsim Soyisim">
                    <br><br>
                    <input style="width: 300px; height: 145px; margin: 15px; margin-top:0" placeholder="Adres ">
                    <br><br>
                    <label> Ödeme Tipi</label>
                    <input type="radio" name="kkartı" value="Kredi">
                    <label for="male">Kredi Kartı</label><br>
                </div>
            </div>
        </div>
    </div>
</section>