<!-- MENU SECTION -->
<section class="menu">
    <div class="container">
        <div class="row">
            <div class="image-group padding-right animate-left ">
                <div class="give-it-a-hover">
                    <img src="/images/eksi2.jpg" alt="image">
                    <p>Ekşi mayalı ekmek </p><br>
                    <a asp-controller="Home" asp-action="Order" class="btn btn-primary">Satın al</a>
                    


                </div>
                <div class="give-it-a-hover">
                    <img src="/images/cavdar2.jpg" alt="image">
                    <p>Çavdarlı Ekmek </p><br>
                    <a asp-controller="Home" asp-action="Order" class="btn btn-primary">Satın al</a>


                </div>
                <div class="give-it-a-hover">
                    <img src="/images/yulaf2.jpg" alt="image">
                    <p>Yulaflı Ekmek </p><br>
                    <a asp-controller="Home" asp-action="Order" class="btn btn-primary">Satın al</a>


                </div>
                <div class="give-it-a-hover">
                    <img src="/images/misirli.jpg" alt="image">
                    <p>Mısır ekmeği</p><br>
                    <a asp-controller="Home" asp-action="Order" class="btn btn-primary">Satın al</a>


                </div>
            </div>

            <div class="image-group padding-left animate-right ">
                <div class="give-it-a-hover">
                    <img src="/images/maple.jpg" alt="image">
                    <p>Akçaağaç şuruplu vegan kurabiye</p><br>
                    <a asp-controller="Home" asp-action="Order" class="btn btn-primary">Satın al</a>


                </div>
                <div class="give-it-a-hover">
                    <img src="/images/uzum.jpg" alt="image">
                    <p>Kuru üzümlü keçiboynuzlu kurabiye</p><br>
                    <a asp-controller="Home" asp-action="Order" class="btn btn-primary">Satın al</a>


                </div>
                <div class="give-it-a-hover">
                    <img src="/images/choclate.jpg" alt="image">
                    <p>Bol çikolatalı diyet kurabiye</p><br>
                    <a asp-controller="Home" asp-action="Order" class="btn btn-primary">Satın al</a>

                </div>
                <div class="give-it-a-hover">
                    <img src="/images/square-4.jpg" alt="image">
                    <p>Tam buğday unundan yapılan cookie.</p><br>
                    <a asp-controller="Home" asp-action="Order" class="btn btn-primary">Satın al</a>


                </div>
            </div>
        </div>
    </div>
</section>